Xcursor.theme:              whiteglass
Xcursor.size:               14
URxvt*geometry:             115x40
URxvt*cursorColor:          #36a9dc
URxvt*font:                 xft:Inconsolata:pixelsize=15:antialias=true:hinting=true
/* URxvt*font:                 xft:xos4 Terminus:pixelsize=14 */
URxvt*depth:                24
URxvt*borderless:           1
URxvt*scrollBar:            false
URxvt*saveLines:            2000
URxvt*background:           #000000
URxvt*foreground:           #36a9dc
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true
URxvt.transparent:          true
URxvt.shading:              60
URxvt.perl-ext-common:      font-size
URxvt.keysym.C-Up:          perl:font-size:increase
URxvt.keysym.C-Down:        perl:font-size:decrease
URxvt.keysym.C-S-Up:        perl:font-size:incglobal
URxvt.keysym.C-S-Down:      perl:font-size:decglobal
*color0:                    #2E3436
*color1:                    #a40000
*color2:                    #4E9A06
*color3:                    #C4A000
*color4:                    #3465A4
*color5:                    #75507B
*color6:                    #ce5c00
*color7:                    #babdb9
*color8:                    #555753
*color9:                    #EF2929
*color10:                   #8AE234
*color11:                   #EEEEEC
*color12:                   #729FCF
*color13:                   #AD7FA8
*color14:                   #fcaf3e
*color15:                   #EEEEEC
