#entry {
    font: Avenir Book 15;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#outer-box {
  width: 20px;
  margin: 200px auto;
}

#input {
    font: Avenir Book 16;
    margin: 5px;
}
